// Thanh mạng xã hội bên phải
.social-container
  // Danh sách mạng xã hội
  .social-links
    a(href="#", title="Facebook")
      i.fab.fa-facebook-f
    a(href="#", title="Instagram")
      i.fab.fa-instagram
    a(href="#", title="Viber")
      i.fab.fa-viber
    a(href="#", title="Youtube")
      i.fab.fa-youtube

  // Nút toggle
  #toggleBtn.toggle-btn
    i.fas.fa-chevron-up
