footer.footer
  .footer-container
    // Về Pharmacity
    .footer-col
      h4 Về Pharmacity
      ul
        li Giới thiệu
        li Hệ thống cửa hàng
        li Giấy phép kinh doanh
        li Quy chế hoạt động
        li Chính sách đổi trả và bảo hành
        li Chính sách giao hàng
        li Chính sách bảo mật
        li Chính sách nội dung
        li Chính sách bảo vệ dữ liệu cá nhân
        li Chính sách thanh toán
        li Thể lệ chương trình thẻ thành viên
        li Câu hỏi thường gặp
        li Bệnh viện

    // Danh mục
    .footer-col
      h4 Danh mục
      ul
        li Thuốc
        li Tra cứu bệnh
        li Thực phẩm bảo vệ sức khỏe
        li Chăm sóc cá nhân
        li Mẹ và Bé
        li Chăm sóc sắc đẹp
        li Thiết bị y tế
        li Sản phẩm tiện lợi
        li Doanh nghiệp
        li Nhãn hàng Pharmacity
        li Khuyến mãi HOT
        li Góc sức khỏe
        li Chăm sóc sức khỏe

    // Tổng đài
    .footer-col
      h4 Tổng đài miễn cước
      p
        | Hỗ trợ đặt hàng
        br
        b.highlight 1800 6821
        | (Nhánh 1)
      p
        | Thông tin nhà thuốc, khuyến mãi
        br
        b.highlight 1800 6821
        | (Nhánh 2)
      p
        | Kiếu nại, góp ý
        br
        b.highlight 1800 6821
        | (Nhánh 2)

      h4 Theo dõi chúng tôi
      p.socials
        a(href="#") Facebook
        | |
        a(href="#") Youtube
        | |
        a(href="#") Zalo


  // Thông tin công ty
  .footer-bottom
    p
      b Công Ty Cổ Phần Dược Phẩm Pharmacity
    p
      | Trụ sở: 248A Nơ Trang Long, Phường Bình Thạnh, TP.Hồ Chí Minh
      br
      | Điện thoại: 1800 6821 – Email: cskh@pharmacity.vn
    p
      | GCNDKDN: 0311770883 do Sở KH & ĐT TP.HCM cấp lần đầu ngày 05/05/2012.
      br
